/*
*   Tlhokomelo Molokwane
*   2018 - Front End Assesment
*
*/

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #000;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;

    line-height: 160%;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    color: #919DD0;
}

.config input {
  font-size: 10px;
  text-align: left;
}
.config button {
  text-align: left;
}

.config form {
  width: 20%;
}
.main-area {
  background-color: #000;
}

.logo img {
  width: 30%;
  margin: 0;
  padding: 0.5em;
}

.site-branding .header-image {

  background-image: url("../images/backgrounds/header_main.jpg");
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 3%, rgba(0,0,0,0.8) 12%, rgba(0,0,0,0.31) 20%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 82%, rgba(0,0,0,0.8) 90%, rgba(0,0,0,1) 95%), url(../images/backgrounds/header_main.jpg); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 3%,rgba(0,0,0,0.8) 12%,rgba(0,0,0,0.31) 20%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 82%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,1) 95%), url(../images/backgrounds/header_main.jpg); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,1) 3%,rgba(0,0,0,0.8) 12%,rgba(0,0,0,0.31) 20%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 82%,rgba(0,0,0,0.8) 90%,rgba(0,0,0,1) 95%), url(../images/backgrounds/header_main.jpg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

  background-repeat: no-repeat;
  background-position: center center;
  display: block;

  height: 20em;
}

.site-branding .header-content {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 1em 1em;
  width: 90%;
}

.site-branding .header-content .titles p {
  margin: 0px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

}


.site-branding p.title-one  {
  font-size: 1.5em;

  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
  color: #fff;
}

.site-branding p.title-two  {
  font-size: 1.2em;
  margin-bottom: 2em;
  color: #ffb300;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  background: linear-gradient(to bottom, #ffb300 0%, #d17700 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: #ffb300;
}

.menu-section {
  margin: 0px;
  padding: 0px;
}

.masthead .menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: none;
}

.menu li {
  background-color: #000;
}
.menu li a:hover {
background-color: #000;
}
.masthead .menu li {
  flex: 0 0 auto;
}

.menu li a.btn-blue {
	display: block;
	text-decoration: none;
	color: white;
	padding: .6em 2em;
  border: 2px solid #00faf8;
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top, #7db9e8 4%, #003a66 62%, #003a66 85%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #7db9e8 4%,#003a66 62%,#003a66 85%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #7db9e8 4%,#003a66 62%,#003a66 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#003a66',GradientType=0 ); /* IE6-9 */
}

.menu li a.btn-blue:hover {
	background: #003a66;
}

.menu li a.btn-green {
	display: block;
	text-decoration: none;
	color: white;
	padding: .6em 2em;
  border: 2px solid #6aff00;
  background: #b4ddb4; /* Old browsers */
  background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

.menu li a.btn-green:hover {
	background:#008a00 ;
}


.titles {
  margin-top: 1em;
  width: 35%;
}
.weather-wedget {
width: 20%;
  border-radius: 10px;
background-size: 100%;
background-image: -moz-linear-gradient(top, #2a6698, #abc5de);
background-image: -webkit-linear-gradient(top, #2a6698, #abc5de);
background-image: linear-gradient(to bottom, #2a6698, #abc5de);
}


.weather-wedget .location {
  color: #00292d;
  text-align: center;
  text-transform: capitalize;
}

.weather-wedget .location {
margin: 0px;
}

.weather-wedget .temperature {
  background-color: #fff;

}

.weather-wedget .temperature p {
  text-align: center;
  color:#00292d;
  font-size: 18px;
  padding-top: 0.1em;
}

.weather-wedget .temperature img {
  width: 20%;
  margin: 0px auto;
}

.weather-wedget .temperature .city {
  display: none;
  color: #fff;
}
.forecast_city {
  font-weight: bold;
  font-size: 1.2em;
}
.forecast {
  background-color: #fff;
}

.sidebar {
  background-color: #000;
}

.first-level .button-text {
  display: flex;
}

.first-level .button-text p {

  font-size: 2.3em;
  background: linear-gradient(to bottom, #ffb300 0%, #d17700 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  margin: 0px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.first-level li a:hover {
  background: linear-gradient(to bottom, #ffb300 0%, #000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.first-level .button-text span {

  font-size: 14px;
  color: #fff;
  background: none;
  padding-top: 20px;
  padding-left: 15px;
}

.second-level .button-text{

width: 100%;
}
.second-level div.button-text p {
font-size: 14px;
text-align: center;
color: #ffb300;
font-weight: bold;
}

.second-level div.button-text i {
margin-left: 0.5em;
border-radius: 25px;
padding: 10px;
background: #3b679e; /* Old browsers */
background: -moz-linear-gradient(45deg, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.second-level div.button-text i:hover {
margin-left: 0.5em;
border-radius: 25px;
padding: 10px;
background: #3b679e;
}

.openweathermap-logo img {
  width: 90%;
}

.footer-area {
  background-color: #000;
}
